.searchPage__result {
  margin: 40px 0;
}

.searchPage__resultImage {
  object-fit: cover;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.searchPage__resultLink {
  color: #000;
}

.searchPage__resultTitle {
  text-decoration: none;
}

.searchPage__resultTitle:hover {
  text-decoration: underline;
  text-decoration-color: rgb(117, 48, 207);
}

.searchPage__resultTitle > h2 {
  font-weight: bold;
  font-weight: 400;
  color: rgb(126, 60, 212);
  margin-top: 8px;
}

.searchPage__resultSnippet {
  margin-top: 10px;
  line-height: 25px;
}
